{% extends 'mobile/index.html' %}

{% block title %}UZTS | About Us{% endblock %}
{% load static %}

{% block content %}
	<div class="about-home">
		<div class="about-home-image">
			<img src="{% static 'img/about-us-bg-mobile.png' %}">
		</div>
		<div class="about-home-text">
			<h1>About Us</h1>
			<span>The Association of Textile and Clothing and Knitting Industry Enterprises of Uzbekistan “Uztekstilprom” was established by Decree of the President of the Republic of Uzbekistan dated December 14, 2017 No. UP-5285. In accordance with it, the volume and quality of textile products are increasing, and its range is also expanding. The best design developments are introduced into the production process based on the trends and directions of the modern fashion industry</span>
			<div class="about-home-links">
				<a href="{% url 'main:team' %}"><i class="fal fa-people-group"></i>&ensp;Our Team</a>
				<a href="{% url 'main:membership' %}"><i class="fal fa-star"></i>&ensp;Join Us</a>
			</div>
		</div>
	</div>
	<div class="section mt-5">
		<div class="section-container">
			<h3 class="section-header">For Society</h3>
			<img src="{% static 'img/membership-intro.png' %}" alt="For Society" class="section-image">
			<span>An organization of top producers of textile, apparel, and knitwear products in Uzbekistan that is constantly growing, solving social problems, giving people a place to work, and creating new jobs. It is also recognized by the world's manufacturers of textiles and textile machinery and has a favorable professional and alluring reputation in the international market. Member enterprises whose goods are utilized on a daily basis by millions of families across the globe.</span>
		</div>
	</div>
	<div class="section mt-5">
		<div class="section-container">
			<h3 class="section-header">For Clients</h3>
			<span>An association of businesses that stay up with the times and only provide their clients with current, high-quality products; a partner that is consistently prepared to assist in the growth of your company while responsibly fulfilling its commitments.</span><br><br>
			<img src="{% static 'img/gallery_26.jpg' %}" alt="For Clients" class="section-image">
		</div>
	</div>
	<div class="section mt-5">
		<div class="section-container">
			<h3 class="section-header">Special Partners</h3>
			<div class="special-partners">
				<div class="special-partners-card">
					<p><strong>UZTEXTILE<br>EXPORT</strong><br><small>FOREIGN TRADE<br>COMPANY</small></p>
				</div>
				<div class="special-partners-card">
					<p><strong>MARKETING<br>AND<br>PROMOTION<br>AGENCY</strong></p>
				</div>
				<div class="special-partners-card">
					<p><strong>UZTEXTILE<br>BROCK</strong><br><small>RAW MATERIALS<br>PURCHASING</small></p>
				</div>
				<div class="special-partners-card">
					<p><strong>SHARQ<br>LIBOSLARI</strong><br><small>DESIGN AND<br>FASHION CENTER</small></p>
				</div>
				<div class="special-partners-card">
					<p><strong>YENGIL<br>SANOAT<br>QURILISH</strong><br><small>DESIGN AND<br>CONSTRUCTION</small></p>
				</div>
				<div class="special-partners-card">
					<p><strong>REGIONAL<br>BRANCHES<br>ACROSS<br>UZBEKISTAN</strong></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}