{% extends 'mobile/index.html' %}

{% block title %}UZTS | Membership Instructions{% endblock %}

{% block content %}
	<div class="instruction-home">
		<div class="instruction-container">
			<h1>How to become a member of the association</h1>
			<p><i>Documents that must be submitted for admission of the enterprise to full members of the Association in accordance with paragraph 3 of the Procedure approved by the Minutes of the meeting of the Uztekstilprom Association dated April 19, 2019.</i></p>
			<hr>
			<b>List:</b>
			<ul>
				<li>Letter of application from the organization;</li>
				<li>Enterprise passport in the form of a sample;</li>
				<li>Certificate of state registration of the organization, a copy of the constituent documents (with all changes and additions);</li>
				<li>A copy of the balance sheet for the last reporting period;</li>
				<li>Detailed information about the installed equipment (in the form of an attached sample);</li>
				<li>A copy of the decision or order on the appointment of the head of the organization, a certificate of employment;</li>
				<li>A copy of the business plan for the production of the enterprise for at least one year;</li>
				<li>Separate information on products imported by the organization on the basis of customs preferences (in the form of an attached sample);</li>
				<li>Decision of the founder to join the association, written consent (minutes);</li>
				<li>Production of photographic materials (6-10 pieces), products and the appearance of the building;</li>
				<li>A copy of the lease agreement if the building is being used on a lease basis;</li>
				<li>A copy of the cadastral document when the building belongs to the enterprise. (corresponding to 2-3 sheets).</li>
			</ul>
			<hr>
			<h3>Memo</h3>
			<ul style="list-style: roman inside;">
				<li><u>The appeal is addressed to the Chairman of the Association "Uztekstilprom" - Khaydarov I.U.</u></li>
				<li><u>Constituent documents - certificate, articles of association and memorandum of association.</u></li>
				<li><u>Balance - refers to the balance sheet approved by the State Tax Committee.</u></li>
			</ul>
			<span>Detailed information about the installed equipment should be presented in the form of a table. <br>Example:</span>
			<table border="1">
				<tr>
					<td>Name</td>
					<td>Model</td>
					<td>Production time</td>
					<td>Producing country</td>
					<td>Amount</td>
					<td>Power</td>
					<td>Technical condition</td>
				</tr>
				<tr>
					<td>Sock Knitting Machine</td>
					<td>BENTLEY KOMET</td>
					<td>2011-year</td>
					<td>England</td>
					<td>3</td>
					<td>15 pairs/hour</td>
					<td>Working</td>
				</tr>
			</table>
			<br>
			<span>Separate information on products imported by the organization on the basis of customs preferences should be presented in the form of a table. <br>Example:</span>
			<table border="1">
				<tr>
					<td>№</td>
					<td>Name</td>
					<td>Unit</td>
					<td>Size</td>
					<td>CN FEA</td>
					<td>Raw material processing time</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Paraffin</td>
					<td>Thousand tons</td>
					<td>0.9</td>
					<td>2712 20 900 0</td>
					<td>6 months</td>
				</tr>
			</table>
			<hr>
			<h3>Example of appeal</h3><br>
			<p><b>Chairman of the Board of the Association "Uztekstilprom" Khaydarov I.U.</b></p>
			<span><b>№</b> __</span><br>
			<span><b>Date:</b> xx.xx.xxxx</span><br>
			<span>I ask you to provide practical assistance in receiving LLC « __ », located at the address: Chirchik, Tashkent region, st. Uzbekistan, 5, membership in the Association "Uztekstilprom".<br>I have read the charter of the Uztekstilprom Association and comply with its requirements.</span><br><br><br>
			<div class="one-line">
				<span>Director of LLC « __ »</span>
				<i>Full Name</i>
			</div><br>
			<span>Phone: +998 xxx xx xx</span>
			<hr>
			<h3>Example of Constituent documents</h3><br>
			<i>Information about LLC « BEK TURGʻUN TEKS »</i>
			<table border="1">
				<tr>
					<td><b>№</b></td>
					<td><b>Indicators</b></td>
					<td><b>Information</b></td>
				</tr>
				<tr>
					<td>1</td>
					<td>Full corporate name and form of ownership of the enterprise</td>
					<td>LLC « BEK TURGʻUN TEKS »</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Establishment date and company registration number</td>
					<td>2013-04-March №. 004347-07</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Servicing bank</td>
					<td>CHEKI AT “Savdogarbank”</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Enterprise manager</td>
					<td>Utaganova Nodira Inoyatovna</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Phone number of the head of the enterprise</td>
					<td>+998 98-124-11-02</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Email mail; Telegram number</td>
					<td><a href="mailto:Bityuczkaya64@mail.ru">Bityuczkaya64@mail.ru</a>; +998 97-400-23-19</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Authorized fund</td>
					<td>12900000 (Twelve million nine hundred thousand) soums</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Founders %</td>
					<td>59%-Utaganova Nodira Inayatovna, 41%-Mamatraximov Fozil Abdusamadovich</td>
				</tr>
				<tr>
					<td>9</td>
					<td>TIN, All-Union classifier "Sectors of the national economy", Nationwide classifier of types of economic activity</td>
					<td>17210, 14140, 302526704</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Total land area</td>
					<td>812 sq. m.</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Production area</td>
					<td>142.75 sq. m.</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Legal address of the enterprise</td>
					<td>Tashkent, Yashnabad district, Alimkent street 31</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Address of the production area of the enterprise</td>
					<td>Zangiotinsky district, st. Erkin KFU 45, st. S. Najimova</td>
				</tr>
				<tr>
					<td>14</td>
					<td>About the presence of the production building of the enterprise or on the basis of a lease agreement</td>
					<td>Own property of the enterprise</td>
				</tr>
				<tr>
					<td>15</td>
					<td>Type of activity (main and additional)</td>
					<td>Sewing</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Installed equipment (name, number and year of manufacture)</td>
					<td>45 pcs. (JUITA-2016-17) Straight stitches, cover stitches, etc.</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Name of product</td>
					<td>Men's and women's clothing T-shirts, jumpers, blouses</td>
				</tr>
				<tr>
					<td>18</td>
					<td>Annual production capacity, utilization rate %</td>
					<td>20k units per year, 90%</td>
				</tr>
				<tr>
					<td>19</td>
					<td>Amount of workers</td>
					<td>25</td>
				</tr>
				<tr>
					<td>20</td>
					<td>Average salary</td>
					<td>500 thousand soums</td>
				</tr>
				<tr>
					<td>21</td>
					<td>Required basic raw materials (average annual volume, name)</td>
					<td>Knitted fabric</td>
				</tr>
				<tr>
					<td>22</td>
					<td>The volume of manufactured products (services) in 2018 is sum</td>
					<td>121 500 000 sum</td>
				</tr>
				<tr>
					<td>23</td>
					<td>January 2019 - ___ The number of manufactured products in January (thousand pieces, tons, million soums)</td>
					<td>12,400 units</td>
				</tr>
				<tr>
					<td>24</td>
					<td>Price in soums for products manufactured in January-January 2019 (thousand soums)</td>
					<td>159 200 sum</td>
				</tr>
				<tr>
					<td>25</td>
					<td>Exports in 2018: (million dollars)<br>Imported (on preferential raw materials)</td>
					<td>150 thousand US dollars<br>50 thousand US dollars</td>
				</tr>
				<tr>
					<td>26</td>
					<td>Implemented import (for finished products from imported raw materials on preferential terms)</td>
					<td>2.0 billion soums</td>
				</tr>
			</table><br>
			<b>* yarn, knitwear, cotton wool prima, garments, knitwear tailoring, dyeing, decoration, textile haberdashery and accessories and other activities.</b><br><br>
			<div class="one-line">
				<span><i>Seal</i></span>
				<i>Sign</i>
			</div>
		</div>
	</div>

{% endblock %}