{% extends 'mobile/index.html' %}

{% block title %}UZTS | Gallery{% endblock %}
{% load static %}

{% block content %}
	<div class="documents-container">
		<div class="documents-home">
			<h3>Gallery</h3>
		</div>
		<div class="documents-image-tape">
			<div class="image-tape pr-1">
				<a href="{% static 'file/Get a glimpse of the Uzbek textile industry.pdf' %}"><img src="{% static 'img/book_1.jpg' %}"></a>
				<a href="{% static 'file/marketing_bez_byudjeta_50_rabotayusheih_instrumentov_9785000571873.pdf' %}"><img src="{% static 'img/book_3.jpg' %}"></a>
				<a href="{% static 'file/monah_kotryj_prodaet_svoj_ferrari.pdf' %}"><img src="{% static 'img/book_5.jpg' %}"></a>
				<a href="{% static 'file/tolstojvojnaimirtom_3_4.pdf' %}"><img src="{% static 'img/book_7.jpg' %}"></a>
			</div><!-- 
			 --><div class="image-tape mt-5 pl-1">
				<a href="{% static 'file/The 8 most frequent questions about a future textile leader.pdf' %}"><img src="{% static 'img/book_2.jpg' %}"></a>
				<a href="{% static 'file/bill_gejts_biznes_so_skorostyu_mysli.pdf' %}"><img src="{% static 'img/book_4.jpg' %}"></a>
				<a href="{% static 'file/tolstojvojnaimirtom_1_2.pdf' %}"><img src="{% static 'img/book_6.jpg' %}"></a>
				<a href="{% static 'file/Zero to One Notes on Startups, or How to Build the Future.pdf' %}"><img src="{% static 'img/book_8.jpg' %}"></a>
			 </div>
		</div>
	</div>
{% endblock %}