{% extends 'mobile/index.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}
	<div class="partners-main">
		<div class="partners-home">
			<div class="partners-home-text">
				<h1>Our Members and Partners</h1>
				<small>TAKE YOUR PART IN DEVELOPING TASHKENT AS A REGIONAL FASHION INDUSTRY CAPITAL</small>
				<a href="{% url 'main:application' %}"><i class="fal fa-star"></i>&ensp;Become a Member</a>
			</div>
		</div>

		<div class="partners-slider">
			<h3 class="section-header">Partners</h3>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-14.png' %}" alt="SEDEX">
							<p>Sedex is a membership organization that provides one of the world’s leading online platforms for companies to manage and improve working conditions in global supply chains, providing practical tools, services and a community network to help companies improve their responsible and sustainable business practices, and source responsibly</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-1.png' %}" alt="OEKO-TEX">
							<p>Oeko-Tex Standard 100 - is an international testing and certification system for textile products that limits the use of certain chemicals in production of textile goods</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-2.png' %}" alt="ITMF">
							<p>International Textile Manufacturers Federation (ITMF) is an international forum for the world's textile industries, dedicated to keeping the world-wide membership constantly informed through surveys, studies and publications</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-3.png' %}" alt="BSCI">
							<p>BSCI - is an initiative developed by a non-profit organization, the Foreign Trade Association (FTA), together with Amfori based in Brussels</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-4.png' %}" alt="ISO">
							<p>ISO - international organization for standardization that issues quality control and environmental and ecological standards</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-5.png' %}" alt="SGS">
							<p>ISO 9000 (includes ISO 9001) is a series of international standards containing terms and definitions, basic principles of quality management, requirements for the quality management system of organizations and enterprises, as well as guidelines for achieving sustainable results</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-6.png' %}" alt="UZTEXPO">
							<p>UZexpo – National Exhibition Company Uzexpocentre</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-7.png' %}" alt="KOFOTI">
							<p>Korean Federation of Textile Industry (KOFOTI) is the main agency for developing and accelerating the modernization of the Korean textile industry</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-8.png' %}" alt="IFT">
							<p>International Financial Corporation is an international financial institution that is part of the World Bank. The organization is headquartered in Washington DC. Created in 1956 to ensure a steady flow of private investment in developing countries</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-9.png' %}" alt="GESAMTMASCHE">
							<p>Confederation of Knitwear Manufacturers “Gezamtmashe” is an association of German light industry enterprises</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-10.png' %}" alt="giz">
							<p>German Society for International Cooperation (GIZ) GmbH implements projects in Uzbekistan commissioned by the Federal Ministry for Economic Cooperation and Development (BMZ), as well as other federal agencies, such as the Ministry of Foreign Affairs and the Ministry of the Interior</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-11.png' %}" alt="VDMA">
							<p>VDMA - Association of German Mechanical Engineers is one of the largest industrial associations in Europe, which includes about 3200 members</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-12.png' %}" alt="CNTAC">
							<p>CNTAC – China National Textile and Apparel Council and National textile association. It is an integrated non-profit legal entity and acts as a self-disciplined intermediary for the industry</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-13.png' %}" alt="World Bank">
							<p>World Bank is an international financial organization established to organize financial and technical assistance to developing countries</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="partner-card">
							<img src="{% static 'img/partner-15.png' %}" alt="CITI">
							<p>Confederation of Indian Textile Industry (CITI) being one of the leading industry chambers of the textile and clothing sector of India, represents the major leading regional & industry associations and 18 major corporate members, thus, covering the entire textile value chain from farm to garments & made-ups and the textile machinery industry</p>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		const swiper = new Swiper('.swiper', {
			direction: 'horizontal',
			loop: false,
			pagination: {
				el: '.swiper-pagination',
			},
			scrollbar: {
				el: '.swiper-scrollbar',
			},
		});
	</script>
{% endblock %}