#navbar{
	position: fixed;
	z-index: 99999;
	height: 100vh;
}
#navbar-cover{
	background: black;
	opacity: .3;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: none;
}
.bookmark{
	width: 5vw;
	height: 100%;
	display: flex;
	align-items: center;
	background: transparent;
	justify-content: center;
}
.bookmark button{
	background: transparent;
	color: black;
	width: 100%;
	height: 100%;
	border: none;
	border-right: 2px solid black;
	cursor: pointer;
	z-index: 99999;
	font-size: 2vh;
}
.bookmark button:hover{
	color: #004AAD;
}
.bookmark button i{
	font-size: 15px;
}
.side-menu{
	background: white;
	position: absolute;
	width: 20vw;
	height: 100%;
	padding: 3vh 3vw;
}
.side-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.side-menu li{
	font-weight: bold;
	margin-top: 3vh;
	font-size: 3vh;
}
.side-menu li a{
	text-decoration: none;
	color: black;
}
.side-menu li a:hover{
	color: #004AAD;
}
.side-menu-additional{
	z-index: 80000;
	transform: translateX(-27vw);
	border-right: 1px solid #ebebeb;
}
.side-menu-main{
	z-index: 90000;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	transform: translateX(-27vw);
}

.form-container{
	padding: 10vh 10vw;
	background: whitesmoke;
	font-size: 2vh;
}
.form-container h2{
	margin: 0;
	margin-left: 1vw;
}
.form-container small{
	margin: 0;
	margin-left: 1vw;
}
form{
	margin-top: 5vh;
	width: 100%;
}
.application-single{
	display: flex;
	flex-direction: column;
	margin-top: 3vh;
}
.application-single input{
	padding: 2vh;
	border: 2px solid black;
	border-radius: 1vh;
	background: white;
	margin: 0 1vw;
	margin-top: 1vh;
}
.application-single select{
	padding: 2vh;
	border: 2px solid black;
	border-radius: 1vh;
	background: white;
	margin: 0 1vw;
	margin-top: 1vh;
}
.submit-button{
	margin: 0 1vw;
	padding: 2vh;
	border: 2px solid black;
	background: black;
	color: white;
	cursor: pointer;
	font-size: 2vh;
	border-radius: 1vh;
}
.submit-button:hover{
	background: white;
	color: black;
}
.application-single label{
	margin: 0 1vw;
}
.application-single input:focus{
	outline: none;
	border-color: #42adf5;
}
.application-single select:focus{
	outline: none;
	border-color: #42adf5;
}
.application-double{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.application-triple{
	display: grid;
	grid-template-columns: 7fr 7fr 1fr 1fr;
}
form h3{
	margin: 0;
	margin-left: 1vw;
	margin-top: 3vh;
	grid-column: span 3;
}
.application-triple button{
	margin-right: 1vw;
	flex-grow: 1;
	border-radius: 1vh;
	border: 2px solid black;
	background: white;
	cursor: pointer;
}
.application-triple button:hover{
	border-color: #42adf5;
}
.application-triple span{
	flex-grow: 1;
}
.application-headtrick span{
	flex-grow: 1;
}
.application-headtrick{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.remove-founder{
	opacity: .5;
}
form hr{
	margin: 5vh 1vw;
	margin-bottom: 0;
	opacity: .6;
}



/* INSTRUCTION */
.instructions{
	padding: 5vh 15vw;
	line-height: 4vh;
	font-size: 2vh;
	text-align: justify;
	background: whitesmoke;
}
.instruction-container{
	background: white;
	padding: 10vh 5vw;
	border-radius: 1vh;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
                0 2px 4px rgba(0,0,0,0.05), 
                0 4px 8px rgba(0,0,0,0.05), 
                0 8px 16px rgba(0,0,0,0.05),
                0 16px 32px rgba(0,0,0,0.05), 
                0 32px 64px rgba(0,0,0,0.05);
}
.instruction-container hr{
	margin: 5vh 0;
	opacity: .4;
}
.instruction-container ul{
	margin-top: 0;
}
.instruction-container table{
	text-align: center;
	margin-top: 2vh;
	width: 100%;
	font-size: 2vh;
	border-collapse: collapse;
}
.one-line{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.one-line i{
	text-align: right;
}

#footer{
	background: #203239;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	padding: 5vh 5vw;
	color: white;
}
.mail-subscribe{
	padding: 0 5vw;
}
.mail-form{
	width: 100%;
	height: 100%;
}
.form-group{
	display: flex;
}
.form-group input{
	width: 100%;
	padding: 2vh;
	border: 2px solid white;
	border-radius: 1vh;
	font-size: 2vh;
	transition: none;
}
.form-group input:focus{
	outline: 2px solid grey;
}
.form-group button{
	display: block;
	margin-top: 2vh;
	background: transparent;
	font-size: 2vh;
	width: 100%;
	text-decoration: none;
	color: #C4DFAA;
	text-align: center;
	border: 2px solid #C4DFAA;
	padding: 2vh;
	border-bottom: 5px solid #C4DFAA;
	border-radius: 1vh;
}
.form-group button:hover{
	background: #C4DFAA;
	color: #203239;
}
.footer-container{
	padding: 0 0 0 5vw;
	text-align: right;
}
.footer-container img{
	width: 10%;
}
.socials-container{
	margin-top: 5vh;
	width: 100%;
}
.socials-container a{
	font-size: 3vh;
	text-decoration: none;
	color: #203239;
	background: #C4DFAA;
	margin-left: 1vw;
	padding: 1vh 1.5vh;
	border-radius: 100%;
}
.socials-container a:hover{
	opacity: .5;
}
.footer-container p{
	margin-top: 6vh;
	font-size: 2vh;
}