#navbar{
	position: fixed;
	z-index: 99999;
	height: 100vh;
}
#navbar-cover{
	background: black;
	opacity: .3;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: none;
}
.bookmark{
	width: 5vw;
	height: 100%;
	display: flex;
	align-items: center;
	background: transparent;
	justify-content: center;
}
.bookmark button{
	background: transparent;
	color: black;
	width: 100%;
	height: 100%;
	border: none;
	border-right: 2px solid black;
	cursor: pointer;
	z-index: 99999;
	font-size: 2vh;
}
.bookmark button:hover{
	color: #004AAD;
}
.bookmark button i{
	font-size: 15px;
}
.side-menu{
	background: white;
	position: absolute;
	width: 20vw;
	height: 100%;
	padding: 3vh 3vw;
}
.side-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.side-menu li{
	font-weight: bold;
	margin-top: 3vh;
	font-size: 3vh;
}
.side-menu li a{
	text-decoration: none;
	color: black;
}
.side-menu li a:hover{
	color: #004AAD;
}
.side-menu-additional{
	z-index: 80000;
	transform: translateX(-27vw);
	border-right: 1px solid #ebebeb;
}
.side-menu-main{
	z-index: 90000;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	transform: translateX(-27vw);
}

.main{
	background: whitesmoke;
}
.top-nav{
	padding: 2vh 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vh;
}
.top-nav a{
	text-decoration: none;
	color: black;
	margin: 0 3vw;
}
.top-nav a:hover{
	color: skyblue;
}
.top-nav img{
	width: 120%;
}
.partners-home-text{
	margin: auto;
	padding-top: 10vh;
	padding-bottom: 5vh;
	text-align: center;
}
.partners-home-text p{
	margin: 5vh 0;
}
.partners-home-text a{
	padding: 2vh 6vw;
	text-decoration: none;
	color: black;
	border-radius: 1vh;
	border: 2px solid black;
	font-size: 2vh;
}
.partners-home-text a:hover{
	background: black;
	color: white;
}
.partners-cards{
	padding: 10vh 5vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6vw;
}
.partners-card{
	width: 100%;
	padding: 2vw;
	position: relative;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1vh;
	margin-top: 2vh;
	overflow: hidden;
}
.partners-card:hover{
	box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.partners-card a{
	color: black;
}
.partners-card img{
	width: 100%;
}
.partners-card-caption{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: justify;
	font-size: 1.5vh;
	line-height: 2vh;
	padding: 0 2vw;
	z-index: 99999;
	height: 100%;
	top: 100%;
}
.partners-card:hover .partners-card-caption{
	top: 0;
}
.partners-card:hover img{
	opacity: 0;
}


.members-list{
	padding: 5vh 2vw;
}
.table-container{
	width: 100%;
	border: 1px solid black;
}
.table-container table{
	width: 100%;
	text-align: center;
	font-size: 2vh;
}
.table-container table tr:nth-child(even){
	background-color: lightblue;
}
.members-form{
	width: 40%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2vw;
}
.members-form div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.members-form select{
	margin-top: 2vh;
	border-radius: none;
	border: 1px solid black;
	background: white;
	padding: 1vh 1vw;
}


#footer{
	background: #121212;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	padding: 5vh 5vw;
	color: white;
}
.mail-subscribe{
	padding: 0 5vw;
}
.mail-form{
	width: 100%;
	height: 100%;
}
.form-group{
	display: flex;
}
.form-group input{
	width: 100%;
	padding: 2vh;
	border: 2px solid white;
	font-size: 2vh;
	transition: none;
}
.form-group input:focus{
	outline: 2px solid grey;
}
.form-group button{
	display: block;
	margin-top: 2vh;
	background: transparent;
	font-size: 2vh;
	width: 100%;
	text-decoration: none;
	color: #F5F5F5;
	text-align: center;
	border: 2px solid #F5F5F5;
	padding: 2vh;
	border-bottom: 5px solid #F5F5F5;
}
.form-group button:hover{
	background: #F5F5F5;
	color: #121212;
}
.footer-container{
	padding: 0 0 0 5vw;
	text-align: right;
}
.footer-container img{
	width: 10%;
}
.socials-container{
	margin-top: 5vh;
	width: 100%;
}
.socials-container a{
	font-size: 3vh;
	text-decoration: none;
	color: #121212;
	background: #F5F5F5;
	margin-left: 1vw;
	padding: 1vh 1.5vh;
	border-radius: 100%;
}
.socials-container a:hover{
	opacity: .5;
}
.footer-container p{
	margin-top: 6vh;
	font-size: 2vh;
}