.home-video-container{
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: black;
}
.home-video-container video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: .6;
}
#navbar{
	position: fixed;
	z-index: 99999;
	height: 100vh;
}
#navbar-cover{
	background: black;
	opacity: .3;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: none;
}
.bookmark{
	width: 5vw;
	height: 100%;
	display: flex;
	align-items: center;
	background: transparent;
	justify-content: center;
}
.bookmark button{
	background: transparent;
	color: white;
	width: 100%;
	height: 100%;
	border: none;
	border-right: 2px solid white;
	cursor: pointer;
	z-index: 99999;
	font-size: 2vh;
}
.bookmark button:hover{
	color: #004AAD;
}
.bookmark button i{
	font-size: 15px;
}
.side-menu{
	background: white;
	position: absolute;
	width: 20vw;
	height: 100%;
	padding: 3vh 3vw;
}
.side-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.side-menu li{
	font-weight: bold;
	margin-top: 3vh;
	font-size: 3vh;
}
.side-menu li a{
	text-decoration: none;
	color: black;
}
.side-menu li a:hover{
	color: #004AAD;
}
.side-menu-additional{
	z-index: 80000;
	transform: translateX(-27vw);
	border-right: 1px solid #ebebeb;
}
.side-menu-main{
	z-index: 90000;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	transform: translateX(-27vw);
}
.top-nav{
	z-index: 70000;
	position: fixed;
	width: 100%;
	padding: 2vh 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.home button{
	background: none;
	border: 1px solid white;
	color: white;
	padding: 2vh 2.5vh;
	border-radius: 50%;
	cursor: pointer;
}
.home button:hover{
	background: white;
	color: black;
}
.join-us-link{
	position: absolute;
	right: 5vw;
	top: 3vh;
	padding: 1.5vh 6vw;
	color: white;
	border: 2px solid white;
	border-radius: 1vh;
	font-weight: bold;
	text-decoration: none;
}
.join-us-link:hover{
	background: white;
	color: black;
}

#about{
	padding: 10vh 5vw;
	background: #f0f1f3;
}
#news{
	padding-top: 10vh;
	background: #f0f1f3;
}
#statistics{
	padding: 10vh 5vw;
}
#membership{
	padding: 10vh 5vw;
}
#promotion{
	padding: 10vh 5vw;
	background: #f0f1f3;
}
#additional-statistics{
	width: 100%;
	height: 25vh;
}


.main-section{
	padding: 0 5vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3vw;
}
.main-section-text{
	line-height: 5vh;
	font-size: 2.5vh;
	text-align: justify;
}
.main-section-text h4{
	color: #004AAD;
}
.main-section-text h2{
	color: #2C3333;
}
.main-section-text p{
	color: #2C3333;
}
.main-section-image{
	width: 100%;
	height: 100%;
}
.main-section-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-section-links{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2vw;
}
.main-section-links a{
	text-decoration: none;
	color: #2C3333;
	font-size: 2vh;
	padding: 1.5vh 0;
	text-align: center;
	border: 2px solid #2C3333;
	border-bottom: 5px solid #2C3333;
}
.main-section-links a:hover{
	background: #004AAD;
	color: white;
}

.left-prior{
	grid-template-columns: 1.5fr 1fr;
}
.right-prior{
	grid-template-columns: 1fr 1.5fr;
}

.model-container{
	height: auto;
}
.model-container model-viewer{
	width: 100%;
	height: 100%;
	border-radius: 1vh;
}


#news h1{
	margin: 0;
	opacity: .8;
	padding-bottom: 3vh;
}

.slider-container{
	margin-top: 5vh;
	height: 70vh;
}
.slider{
	height: 100%;
	overflow: hidden;
}
.slider-tape{
	width: 400%;
	height: 100%;
	display: flex;
	transition: 1s;
}
.slider-slide{
	height: 100%;
	width: 25%;
	background: black;
	position: relative;
}
.slider-controls{
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50%;
	opacity: 0;
}
.slider-tape:hover .slider-controls{
	opacity: 1;
}
.slider-controls button{
	height: 100%;
	border: none;
	background: transparent;
	padding: 0 8vw;
	font-size: 4vh;
	color: white;
	cursor: pointer;
}
.slider-controls button:hover{
	color: grey;
}
.slider-slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 99999;
}
.slider-caption{
	width: 40%;
	position: absolute;
	margin: 0 30%;
	color: white;
}
.slider-caption-text{
	font-size: 2vh;
	margin-top: 80vh;
	text-align: center;
	line-height: 3vh;
	background: black;
	padding: 2vh 2vw;
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
}
.slider-caption-text a{
	color: white;
	text-decoration: none;
}
.slider-caption-text a:hover{
	opacity: .5;
}
.slider-caption:hover .slider-caption-text{
	margin-top: 55vh;
}


.video-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 4vw;
	padding: 10vh 10vw;
}
.video-container{
	height: 30vh;
}
.video-container iframe{
	width: 100%;
	height: 100%;
}


.stat-cards{
	margin-top: 10vh;
	padding: 0 5vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 2vw;
}
.stat-card strong{
	border-left: 3px solid #73A9AD;
	padding: 0 1vw;
	font-size: 3vh;
}


.separator-container{
	width: 100%;
	height: 100%;
	background: #004AAD;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.separator-container div{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5vw;
}
.separator-container h4{
	font-size: 3vh;
	color: #fcfcfc;
	padding: 2vh;
}
.separator-container small{
	font-size: 2vh;
	font-weight: normal;
}
.separator-container a{
	text-decoration: none;
	color: white;
	font-size: 2vh;
	padding: 2vh 5vw;
	border: 2px solid white;
	border-bottom: 5px solid #f0f1f3;
	background: transparent;
}
.separator-container a:hover{
	background: white;
	color: black;
}



.promotion-sources{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 5vh;
}
.promotion-source{
	margin-top: 5vh;
	width: 100%;
	padding: 0 5%;
}
.promotion-card{
	overflow: hidden;
	margin: auto;
	width: 70%;
	height: 100%;
	border: 2px solid transparent;
	border-bottom: 5px solid #dedede;
}
.promotion-card:hover{
	border-color: #d1d1d1;
}
.promotion-card-header{
	background: #F2D7D9;
	color: #748DA6;
	font-size: 6vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10vh 0;
}
.promotion-card-body{
	height: 100%;
	padding: 3vh 4vh;
	background: white;
}
.promotion-card-body h3{
	margin: 0 0;
}
.promotion-card-body p{
	font-size: 1.8vh;
	line-height: 3vh;
}


.hotline-container a:hover span{
	display: none;
}
.hotline-container a:hover:before{
	content: '+998 71 202 22 44 (109)';
}
#footer{
	background: #203239;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	padding: 5vh 5vw;
	color: white;
}
.mail-subscribe{
	padding: 0 5vw;
}
.mail-form{
	width: 100%;
	height: 100%;
}
.form-group{
	display: flex;
}
.form-group input{
	width: 100%;
	padding: 2vh;
	border: 2px solid white;
	border-radius: 1vh;
	font-size: 2vh;
	transition: none;
}
.form-group input:focus{
	outline: 2px solid grey;
}
.form-group button{
	display: block;
	margin-top: 2vh;
	background: transparent;
	font-size: 2vh;
	width: 100%;
	text-decoration: none;
	color: #C4DFAA;
	text-align: center;
	border: 2px solid #C4DFAA;
	padding: 2vh;
	border-bottom: 5px solid #C4DFAA;
	border-radius: 1vh;
}
.form-group button:hover{
	background: #C4DFAA;
	color: #203239;
}
.footer-container{
	padding: 0 0 0 5vw;
	text-align: right;
}
.footer-container img{
	width: 10%;
}
.socials-container{
	margin-top: 5vh;
	width: 100%;
}
.socials-container a{
	font-size: 3vh;
	text-decoration: none;
	color: #203239;
	background: #C4DFAA;
	margin-left: 1vw;
	padding: 1vh 1.5vh;
	border-radius: 100%;
}
.socials-container a:hover{
	opacity: .5;
}
.footer-container p{
	margin-top: 6vh;
	font-size: 2vh;
}