.main{
	padding: 0;
	margin: 0;
	background: #F1F1F1;
	padding-bottom: 10vh;
}
.panel{
	position: fixed;
	top: 0;
	left: 0;
	width: 10vw;
	margin-top: 20vh;
	border-top-right-radius: 1vh;
	border-bottom-right-radius: 1vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.panel button{
	padding: 2vh;
	border: none;
	border-radius: none;
	background: #0F3D3E;
	color: white;
	cursor: pointer;
}
.panel button:hover{
	opacity: .7;
}
.navbar{
	padding: 1vh;
	background: #E2DCC8;
	margin-bottom: 5vh;
}
.navbar img{
	height: 10vh;
}
.post{
	width: 50vw;
	background: white;
	min-height: 100vh;
	margin: auto;
	border-radius: 1vh;
	padding: 5vh 5vw;
}
.post-section{
	display: flex;
	flex-direction: column;
	margin-top: 3vh;
}
.post-section input{
	padding: 1.5vh 1vw;
	border-radius: 1vh;
	border: 2px solid #cccccc;
	font-size: 2vh;
}
.post-section input:focus{
	outline: none;
	border-color: #100F0F;
}
.post-section textarea{
	padding: 1.5vh 1vw;
	border-radius: 1vh;
	border: 2px solid #cccccc;
	font-size: 2vh;
}
.post-section textarea:focus{
	outline: none;
	border-color: #100F0F;
}
.post-section-module{
	display: flex;
	margin-top: 3vh;
}
.post-section-module input{
	width: 100%;
	padding: 1.5vh 1vw;
	border-radius: 1vh;
	border: 2px solid #cccccc;
	font-size: 2vh;
}
.post-section-module input:focus{
	outline: none;
	border-color: #100F0F;
}
.post-section-module button{
	cursor: pointer;
	padding: 0 1vw;
	border-radius: 1vh;
	border: 2px solid #cccccc;
	font-size: 2vh;
	margin-left: 1vw;
	background: transparent;
}
.post-section-module button:hover{
	border-color: #100F0F;
}
.post-section-module textarea{
	width: 100%;
	padding: 1.5vh 1vw;
	border-radius: 1vh;
	border: 2px solid #cccccc;
	font-size: 2vh;
}
.post-section-module textarea:focus{
	outline: none;
	border-color: #100F0F;
}
.upload-button{
	position: absolute;
	top: 2vh;
	right: 2vw;
	padding: 2.5vh 4vw;
	font-size: 2vh;
	border-radius: 1vh;
	border: 2px solid black;
	background: none;
	cursor: pointer;
}
.upload-button:hover{
	background: black;
	color: white;
}