<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UZTS | Members & Partners</title>

	{% load static %}
	<link rel="icon" href="{% static 'img/logo.svg' %}">

	<link rel="stylesheet" href="{% static 'style/general.css' %}">
	<link rel="stylesheet" href="{% static 'style/partners.css' %}">

	<link href="https://kit-pro.fontawesome.com/releases/v6.0.0/css/pro.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<nav id="navbar">
			<div id="navbar-cover"></div>
			<div class="side-menu-main side-menu">
				<ul>
					<li><a href="{% url 'main:index' %}"><i class="far fa-home"></i>&ensp;Home</a></li>
					<li><a href="{% url 'main:membership' %}"><i class="far fa-star"></i>&ensp;Membership</a></li>
					<li><a href="{% url 'events:news' %}"><i class="far fa-newspaper"></i>&ensp;News</a></li>
					<li><a href="javascript:void(0)" class="additional-menu-trigger" data-target="side-menu-about"><i class="far fa-building"></i>&ensp;About Us&emsp;<i class="fal fa-chevron-right"></i></a></li>
					<li><a href="javascript:void(0)" class="additional-menu-trigger" data-target="side-menu-docs"><i class="far fa-books"></i>&ensp;Documents&emsp;<i class="fal fa-chevron-right"></i></a></li>
					<li><a href="{% url 'main:contacts' %}"><i class="far fa-envelope"></i>&ensp;Contacts</a></li>
				</ul>
			</div>
			<div class="side-menu-additional side-menu" id="side-menu-about">
				<ul>
					<li><a href="{% url 'main:team' %}"><i class="far fa-screen-users"></i>&ensp;Our Team</a></li>
					<li><a href="{% url 'main:about' %}"><i class="far fa-industry-windows"></i>&ensp;Industry</a></li>
				</ul>
			</div>
			<div class="side-menu-additional side-menu" id="side-menu-docs">
				<ul>
					<li><a href="{% url 'main:gallery' %}"><i class="far fa-rectangle-vertical-history"></i>&ensp;Gallery</a></li>
					<li><a href="{% url 'main:library' %}"><i class="far fa-book-copy"></i>&ensp;Library</a></li>
				</ul>
			</div>
			<div class="bookmark">
				<button id="side-menu-button">MENU</button>
			</div>
		</nav>
		<div class="top-nav">
			<a href="{% url 'main:index' %}">Home</a>
			<a href="">News</a>
			<a href=""><img src="{% static 'img/logo-rounded.svg' %}" alt=""></a>
			<a href="">About Us</a>
			<a href="">Contacts</a>
		</div>
		<div class="partners-home">
			<div class="partners-home-text">
				<h1>Our Members and Partners</h1>
				<p><small>TAKE YOUR PART IN DEVELOPING TASHKENT AS A REGIONAL FASHION INDUSTRY CAPITAL</small></p>
				<a href=""><i class="far fa-user-plus"></i>&ensp;Become a Member</a>
			</div>
			<div class="partners-cards">
				<div class="partners-card">
					<img src="{% static 'img/partner-1.png' %}" alt="OEKO-TEX">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-2.png' %}" alt="ITMF">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-3.png' %}" alt="BSCI">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-4.png' %}" alt="ISO">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-5.png' %}" alt="SGS">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-6.png' %}" alt="UZTEXEXPO">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-7.png' %}" alt="KOFOTI">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-8.png' %}" alt="IFT">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-9.png' %}" alt="GESAMTMASCHE">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-10.png' %}" alt="giz">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-11.png' %}" alt="VDMA">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-12.png' %}" alt="CNTAC">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-13.png' %}" alt="World Bank">
				</div>
				<div class="partners-card">
					<img src="{% static 'img/partner-14.png' %}" alt="SEDEX">
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static 'script/news.js' %}"></script>
<script> window.interdeal = { "sitekey": "90ba7c838621de6bb8b87cd606d8038c", "Position": "Right", "Menulang": "EN", "domains": { "js": "https://cdn.equalweb.com/", "acc": "https://access.equalweb.com/" }, "btnStyle": { "vPosition": [ "90%", null ], "scale": [ "0.4", "0.4" ], "color": { "main": "#000000", "second": "#ffffff" }, "icon": { "type": 11, "shape": "circle", "outline": true } } }; (function(doc, head, body){ var coreCall = doc.createElement('script'); coreCall.src = 'https://cdn.equalweb.com/core/4.3.7/accessibility.js'; coreCall.defer = true; coreCall.integrity = 'sha512-hGa5HZtFkT1M7+tUDtU/cbw6AG0ORz3oblztCoTZ/z2qPyr7dgwH3zoT8qpgj21MgcRsMFLD6NNKePGvVks3Ig=='; coreCall.crossOrigin = 'anonymous'; coreCall.setAttribute('data-cfasync', true ); body? body.appendChild(coreCall) : head.appendChild(coreCall); })(document, document.head, document.body); </script>
</html>