<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UZTS | Partners</title>

	{% load static %}
	<link rel="icon" href="{% static 'img/logo.svg' %}">

	<link rel="stylesheet" href="{% static 'style/general.css' %}">
	<link rel="stylesheet" href="{% static 'style/partners.css' %}">

	<link href="https://kit-pro.fontawesome.com/releases/v6.0.0/css/pro.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="top-nav">
			<a href="{% url 'main:index' %}">Home</a>
			<a href="{% url 'events:news' %}">News</a>
			<a href="{% url 'main:index' %}"><img src="{% static 'img/logo.svg' %}" alt="UZTS"></a>
			<a href="{% url 'main:about' %}">About Us</a>
			<a href="{% url 'main:contacts' %}">Contacts</a>
		</div>
		<div class="partners-home">
			<div class="partners-home-text">
				<h1>Our Members and Partners</h1>
				<p><small>TAKE YOUR PART IN DEVELOPING TASHKENT AS A REGIONAL FASHION INDUSTRY CAPITAL</small></p><br>
				<a href="{% url 'main:application' %}"><i class="far fa-user-plus"></i>&ensp;Become a Member</a>
			</div>
			<div class="partners-cards">
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.itmf.org/">International Textile Manufacturers Federation (ITMF)</a> is an international forum for the world's textile industries, dedicated to keeping the world-wide membership constantly informed through surveys, studies and publications</span>
					</div>
					<img src="{% static 'img/partner-2.png' %}" alt="ITMF">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.oeko-tex.com">Oeko-Tex Standard 100</a> - is an international testing and certification system for textile products that limits the use of certain chemicals in production of textile goods</span>
					</div>
					<img src="{% static 'img/partner-1.png' %}" alt="OEKO-TEX">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.amfori.org/content/amfori-bsci">BSCI</a> - is an initiative developed by a non-profit organization, the Foreign Trade Association (FTA), together with Amfori based in Brussels</span>
					</div>
					<img src="{% static 'img/partner-3.png' %}" alt="BSCI">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.iso.org">ISO</a> - international organization for standardization that issues quality control and environmental and ecological standards</span>
					</div>
					<img src="{% static 'img/partner-4.png' %}" alt="ISO">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.iso.org/iso-9001-quality-management.html">ISO 9000</a> (includes ISO 9001) is a series of international standards containing terms and definitions, basic principles of quality management, requirements for the quality management system of organizations and enterprises, as well as guidelines for achieving sustainable results</span>
					</div>
					<img src="{% static 'img/partner-5.png' %}" alt="SGS">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.uzexpocentre.uz/">UZexpo</a> – National Exhibition Company Uzexpocentre</span>
					</div>
					<img src="{% static 'img/partner-6.png' %}" alt="UZTEXPO">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="http://www.kofoti.or.kr/main.do">Korean Federation of Textile Industry (KOFOTI)</a> is the main agency for developing and accelerating the modernization of the Korean textile industry</span>
					</div>
					<img src="{% static 'img/partner-7.png' %}" alt="KOFOTI">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.ifc.org">International Financial Corporation</a> is an international financial institution that is part of the World Bank. The organization is headquartered in Washington DC. Created in 1956 to ensure a steady flow of private investment in developing countries</span>
					</div>
					<img src="{% static 'img/partner-8.png' %}" alt="IFT">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.gesamtmasche.de/">Confederation of Knitwear Manufacturers “Gesamtmasche”</a> is an association of German light industry enterprises</span>
					</div>
					<img src="{% static 'img/partner-9.png' %}" alt="GESAMTMASCHE">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.giz.de/en/html/index.html">German Society for International Cooperation (GIZ)</a> GmbH implements projects in Uzbekistan commissioned by the Federal Ministry for Economic Cooperation and Development (BMZ), as well as other federal agencies, such as the Ministry of Foreign Affairs and the Ministry of the Interior</span>
					</div>
					<img src="{% static 'img/partner-10.png' %}" alt="giz">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.vdma.org">VDMA</a> - Association of German Mechanical Engineers is one of the largest industrial associations in Europe, which includes about 3200 members</span>
					</div>
					<img src="{% static 'img/partner-11.png' %}" alt="VDMA">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.unglobalcompact.org">CNTAC</a> – China National Textile and Apparel Council and National textile association. It is an integrated non-profit legal entity and acts as a self-disciplined intermediary for the industry</span>
					</div>
					<img src="{% static 'img/partner-12.png' %}" alt="CNTAC">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.worldbank.org">World Bank</a> is an international financial organization established to organize financial and technical assistance to developing countries</span>
					</div>
					<img src="{% static 'img/partner-13.png' %}" alt="World Bank">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://www.sedex.com/">Sedex</a> is a membership organization that provides one of the world’s leading online platforms for companies to manage and improve working conditions in global supply chains, providing practical tools, services and a community network to help companies improve their responsible and sustainable business practices, and source responsibly</span>
					</div>
					<img src="{% static 'img/partner-14.png' %}" alt="SEDEX">
				</div>
				<div class="partners-card">
					<div class="partners-card-caption">
						<span><a href="https://citiindia.org/">Confederation of Indian Textile Industry (CITI)</a> being one of the leading industry chambers of the textile and clothing sector of India, represents the major leading regional & industry associations and 18 major corporate members, thus, covering the entire textile value chain from farm to garments & made-ups and the textile machinery industry</span>
					</div>
					<img src="{% static 'img/partner-15.png' %}" alt="CITI">
				</div>
			</div>
		</div>

		<section id="footer">
			<div class="mail-subscribe">
				<form class="mail-form" action="{% url 'main:distribution' %}" method="post">
					{% csrf_token %}
					<h3>Don't miss latest news in Textile Industry</h3>
					<div class="form-group">
						<input name="email" type="email" placeholder="Email">
					</div>
					<div class="form-group">
						<button><i class="fal fa-envelope"></i>&ensp;Subscribe</button>
					</div>
				</form>
			</div>
			<div class="footer-container">
				<a href="{% url 'main:index' %}"><img src="{% static 'img/logo.svg' %}" alt="uzts"></a>
				<div class="socials-container">
					<a href="https://www.instagram.com/uzts.uz"><i class="fab fa-instagram-square"></i></a>
					<a href="https://t.me/uztsuz"><i class="fab fa-telegram"></i></a>
					<a href="https://www.facebook.com/uzts.uz"><i class="fab fa-facebook"></i></a>
					<a href="https://www.youtube.com/channel/UCUBZc6CcYylKO6TyijZkKTw" style="padding: 1vh 1.3vh;"><i class="fab fa-youtube"></i></a>
					<a href="https://t.me/certified_textile"><i class="fab fa-telegram"></i></a>
				</div>
				<p>© 2022 - Uzbekistan Textile and Garment Industry Association</p>
			</div>
		</section>
	</div>
</body>
<script src="{% static 'script/news.js' %}"></script>
<script> window.interdeal = { "sitekey": "90ba7c838621de6bb8b87cd606d8038c", "Position": "Right", "Menulang": "EN", "domains": { "js": "https://cdn.equalweb.com/", "acc": "https://access.equalweb.com/" }, "btnStyle": { "vPosition": [ "90%", null ], "scale": [ "0.4", "0.4" ], "color": { "main": "#000000", "second": "#ffffff" }, "icon": { "type": 11, "shape": "circle", "outline": true } } }; (function(doc, head, body){ var coreCall = doc.createElement('script'); coreCall.src = 'https://cdn.equalweb.com/core/4.3.7/accessibility.js'; coreCall.defer = true; coreCall.integrity = 'sha512-hGa5HZtFkT1M7+tUDtU/cbw6AG0ORz3oblztCoTZ/z2qPyr7dgwH3zoT8qpgj21MgcRsMFLD6NNKePGvVks3Ig=='; coreCall.crossOrigin = 'anonymous'; coreCall.setAttribute('data-cfasync', true ); body? body.appendChild(coreCall) : head.appendChild(coreCall); })(document, document.head, document.body); </script>
</html>