<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UZTS | Subsidiaries</title>

	{% load static %}
	<link rel="icon" href="{% static 'img/logo.svg' %}">

	<link rel="stylesheet" href="{% static 'style/general.css' %}">
	<link rel="stylesheet" href="{% static 'style/membership.css' %}">

	<link href="https://kit-pro.fontawesome.com/releases/v6.0.0/css/pro.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>

	<style>
		.bookmark button{
			color: black !important;
			border-right: 2px solid black !important;
		}
	</style>
</head>
<body>
	<div class="main">
		<nav id="navbar">
			<div id="navbar-cover"></div>
			<div class="side-menu-main side-menu">
				<ul>
					<li><a href="{% url 'main:index' %}">Home</a></li>
					<li><a href="{% url 'main:membership' %}">Membership</a></li>
					<li><a href="{% url 'events:news' %}">News</a></li>
					<li><a href="{% url 'events:news' %}">Events</a></li>
					<li><a href="javascript:void(0)" class="additional-menu-trigger" data-target="side-menu-about">About Us&emsp;<i class="fal fa-chevron-right"></i></a></li>
					<li><a href="javascript:void(0)" class="additional-menu-trigger" data-target="side-menu-docs">Documents&emsp;<i class="fal fa-chevron-right"></i></a></li>
					<li><a href="{% url 'main:contacts' %}">Contacts</a></li>
				</ul>
			</div>
			<div class="side-menu-additional side-menu" id="side-menu-about">
				<ul>
					<li><a href="{% url 'main:team' %}">Our Team</a></li>
					<li><a href="{% url 'main:about' %}">Industry</a></li>
					<li><a href="{% url 'main:subsidiary' %}">Subsidiary</a></li>
				</ul>
			</div>
			<div class="side-menu-additional side-menu" id="side-menu-docs">
				<ul>
					<li><a href="{% url 'main:gallery' %}">Gallery</a></li>
					<li><a href="{% url 'main:library' %}">Library</a></li>
				</ul>
			</div>
			<div class="bookmark">
				<button id="side-menu-button">MENU</button>
			</div>
		</nav>
		<div class="header">
			<h1>Subsidiary Agencies</h1>
		</div>
		<div class="special-partners">
			<div class="special-partners-card">
				<p><strong>UZTEXTILE<br>EXPORT</strong><br><small>FOREIGN TRADE<br>COMPANY</small></p>
			</div>
			<div class="special-partners-card">
				<p><strong>MARKETING<br>AND<br>PROMOTION<br>AGENCY</strong></p>
			</div>
			<div class="special-partners-card">
				<p><strong>UZTEXTILE<br>BROCK</strong><br><small>RAW MATERIALS<br>PURCHASING</small></p>
			</div>
			<div class="special-partners-card">
				<p><strong>SHARQ<br>LIBOSLARI</strong><br><small>DESIGN AND<br>FASHION CENTER</small></p>
			</div>
			<div class="special-partners-card">
				<p><strong>YENGIL<br>SANOAT<br>QURILISH</strong><br><small>DESIGN AND<br>CONSTRUCTION</small></p>
			</div>
			<div class="special-partners-card">
				<p><strong>REGIONAL<br>BRANCHES<br>ACROSS<br>UZBEKISTAN</strong></p>
			</div>
		</div>
		<div class="chess-container">
			<h3>Subsidiaries Services</h3>
			<div>
				<strong>The Agency for Advertising and Marketing of Textile Products</strong>
				<p>TPMA is a modern, dynamically developing company specializing in organizing and holding exhibition and exposition events, promoting domestic enterprises in the international arena, establishing and expanding trade and investment cooperation, presenting the production and export potential of a domestic enterprise, concluding relevant contracts with potential foreign partners.</p>
				<span>TPMAs allow businesses to:</span>
				<ul>
					<li>introduce a new enterprise to the market;</li>
					<li>to acquaint visitors of the exhibition with the range and range of services provided;</li>
					<li>conduct a demonstration of new machinery and equipment;</li>
					<li>ensure a positive perception of the company's products;</li>
					<li>increase sales;</li>
					<li>establish new business contacts, find partners, clients or sponsors;</li>
					<li>conclude profitable contracts;</li>
					<li>improve the image of the brand and the company as a whole.</li>
				</ul>
			</div>
			<div>
				<img src="{% static 'img/tpma.jpg' %}" alt="TPMA">
			</div>
		</div>
		<div class="chess-container-alt">
			<div>
				<img src="{% static 'img/sharq.jpg' %}" alt="Sharq Liboslar">
			</div>
			<div>
				<strong>LLC "Eastern Clothing Design Center"</strong>
				<p>“Sharq liboslari Dizayn Markazi” LLC is one of the leading enterprises working in the development and production of fashionable clothes, operating under the Uztekstilprom Association.</p>
				<span>The main tasks of Sharq liboslari Dizayn Markazi LLC are:</span>
				<ul>
					<li>introduction of advanced modeling of light industry products, taking into account the growing needs and requirements of the population;</li>
					<li>study of the latest trends in world fashion;</li>
					<li>conducting marketing research of external and internal product markets;</li>
					<li>establishing cooperation with well-known world centers, studying their best practices;</li>
					<li>development of the Uzbek fashion industry and support for local designers;</li>
					<li>creation of seasonal collections of clothes of various assortments based on the national identity and mentality of the population;</li>
					<li>implementation of consulting activities;</li>
					<li>development of a description of the technical conditions of models;</li>
					<li>development of patterns;</li>
					<li>regular updating of the developed models taking into account market conditions, creation of competitive models;</li>
					<li>organization of demonstrations of models by local and foreign fashion designers, conferences, exhibitions, methodical seminars and master classes.</li>
				</ul>
			</div>
		</div>
		<section id="footer">
			<div class="mail-subscribe">
				<form class="mail-form" action="{% url 'main:distribution' %}" method="post">
					{% csrf_token %}
					<h3>Don't miss latest news in Textile Industry</h3>
					<div class="form-group">
						<input name="email" type="email" placeholder="Email">
					</div>
					<div class="form-group">
						<button><i class="fal fa-envelope"></i>&ensp;Subscribe</button>
					</div>
				</form>
			</div>
			<div class="footer-container">
				<a href="{% url 'main:index' %}"><img src="{% static 'img/logo-white.svg' %}" alt="uzts"></a>
				<div class="socials-container">
					<a href="https://www.instagram.com/uzts.uz"><i class="fab fa-instagram-square"></i></a>
					<a href="https://t.me/uztsuz"><i class="fab fa-telegram"></i></a>
					<a href="https://www.facebook.com/uzts.uz"><i class="fab fa-facebook"></i></a>
					<a href="https://www.youtube.com/channel/UCUBZc6CcYylKO6TyijZkKTw" style="padding: 1vh 1.3vh;"><i class="fab fa-youtube"></i></a>
					<a href="https://t.me/certified_textile"><i class="fab fa-telegram"></i></a>
				</div>
				<p>© 2022 - Uzbekistan Textile and Garment Industry Association</p>
			</div>
		</section>
	</div>
</body>
<script src="{% static 'script/membership.js' %}"></script>
<script> window.interdeal = { "sitekey": "90ba7c838621de6bb8b87cd606d8038c", "Position": "Right", "Menulang": "EN", "domains": { "js": "https://cdn.equalweb.com/", "acc": "https://access.equalweb.com/" }, "btnStyle": { "vPosition": [ "90%", null ], "scale": [ "0.4", "0.4" ], "color": { "main": "#000000", "second": "#ffffff" }, "icon": { "type": 11, "shape": "circle", "outline": true } } }; (function(doc, head, body){ var coreCall = doc.createElement('script'); coreCall.src = 'https://cdn.equalweb.com/core/4.3.7/accessibility.js'; coreCall.defer = true; coreCall.integrity = 'sha512-hGa5HZtFkT1M7+tUDtU/cbw6AG0ORz3oblztCoTZ/z2qPyr7dgwH3zoT8qpgj21MgcRsMFLD6NNKePGvVks3Ig=='; coreCall.crossOrigin = 'anonymous'; coreCall.setAttribute('data-cfasync', true ); body? body.appendChild(coreCall) : head.appendChild(coreCall); })(document, document.head, document.body); </script>
</html>